@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	* {
		box-sizing: border-box;
		font-family: 'Open Sans', sans-serif;
	}
}

@layer components {
	.root-layout header {
		@apply h-[100px];
	}

	.root-layout main {
		@apply mx-auto mt-6 flex max-w-[1300px] flex-col justify-center 3card:max-w-[980px] 2card:max-w-[660px] 1card:max-w-[340px];
	}

	/* Navbar */
	.navbar {
		@apply fixed top-0 flex h-[100px] w-full items-center justify-between bg-white dark:bg-dark-blue;
	}

	.navbar a {
		@apply standard-text ml-6 max-w-28 font-semibold;
	}

	.logo {
		@apply 1card:hidden;
	}

	.nav-links {
		@apply flex justify-center gap-4;
	}

	.nav-button {
		@apply relative w-full cursor-pointer text-center leading-10;
	}

	.nav-effect:after,
	.nav-effect:before {
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		content: '';
		border: 1px solid rgba(255, 255, 255, 0);
		@apply relative bottom-0 mx-auto my-0 block w-0 transition-all duration-300 ease-in-out;
	}

	.nav-effect:hover:after,
	.nav-effect:hover:before {
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		transition: width 350ms ease-in-out;
		@apply w-[90%] border-primary-darker-blue dark:border-white;
	}

	.nav-effect:hover:before {
		@apply bottom-auto top-0 w-[90%];
	}
	/* End of Navbar */

	/* HomePage */
	.home-page {
		@apply pb-[70px] text-sm;
	}

	.country-search-container {
		@apply mx-auto mb-5 flex max-w-[1260px] justify-between 3card:max-w-[940px] 2card:max-w-[620px] 1card:flex-col 1card:gap-[25px];
	}
	/* End of HomePage */

	/* SearchBar */
	.searchbar {
		@apply standard-text flex h-14 w-96 items-center justify-start rounded-xl border-none bg-white p-8 dark:bg-dark-blue 2card:w-80 1card:m-0 1card:mx-auto 1card:h-16 1card:w-80;
	}

	.searchbar:focus-visible {
		@apply outline-none;
	}

	.searchbar::placeholder {
		@apply standard-text;
	}

	/* End of SearchBar */

	/* Dropdown */
	.filterdropdown {
		@apply standard-text relative flex h-14 w-48 items-center justify-between rounded-xl bg-white p-8 dark:bg-dark-blue 1card:m-0 1card:mx-auto 1card:h-16 1card:w-80;
	}

	.dropdown-content {
		@apply absolute left-0 top-[60px] z-[1] hidden w-48 rounded-xl border border-solid border-[hsla(0,0%,100%,0.075)] bg-white group-hover:block dark:bg-dark-blue 1card:top-[75px];
	}

	.dropdown-link {
		@apply standard-text block px-[30px] py-[15px] no-underline hover:bg-to-white dark:hover:bg-darker-blue;
	}
	/* End of Dropdown */

	/* CountryCard */
	.countries-container {
		@apply mx-auto flex max-w-[1260px] flex-wrap justify-center gap-5;
	}

	.country-card-loading {
		@apply h-[310px] w-[300px] rounded-xl bg-white dark:bg-dark-blue 3card:h-[361px];
	}

	.country-card {
		@apply max-w-[300px] overflow-hidden rounded-xl bg-white dark:bg-dark-blue;
	}

	.country-card:hover {
		@apply scale-105 transition-all duration-200 ease-in-out;
	}

	.flag {
		@apply h-[200px];
	}

	.flag img {
		@apply h-full min-h-[200px] w-full min-w-[300px];
	}

	.country-info {
		@apply py-[15px] pl-[25px];
	}

	.country-name {
		@apply standard-text mb-[5px] font-semibold;
	}

	.country-population {
		@apply py-[5px];
	}

	.population-title {
		@apply standard-text font-semibold;
	}

	.population-value {
		@apply standard-text;
	}

	.country-region {
		@apply py-[5px];
	}

	.region-title {
		@apply standard-text font-semibold;
	}

	.region-value {
		@apply standard-text;
	}

	.country-capital {
		@apply py-[5px];
	}

	.capital-title {
		@apply standard-text font-semibold;
	}

	.capital-value {
		@apply standard-text;
	}
	/* End of CountryCard */

	/* CountryPage */
	.back-button {
		@apply standard-text relative inline-block w-36 overflow-hidden rounded-md py-3 text-center;
	}

	.back-button.back-effect {
		@apply transition-all delay-0 duration-200 ease-linear;
	}

	.back-button.back-effect:before {
		content: '';
		border-radius: 6px 0px 0px 6px;
		background-size: 20px;
		@apply absolute -left-7 top-0 flex h-full w-7 items-center justify-center bg-dark-blue bg-opacity-15 bg-center bg-no-repeat transition-all delay-0 duration-200 ease-linear dark:bg-white dark:bg-opacity-30;
	}

	.back-btn-light:before {
		background-image: url('../images/arrow-left.svg');
	}

	.back-btn-dark:before {
		background-image: url('../images/arrow-left-dark.svg');
	}

	.back-button.back-effect:hover {
		@apply indent-7;
	}

	.back-button.back-effect:hover:before {
		@apply left-0 indent-0;
	}

	.standard-text {
		@apply text-darker-blue dark:text-to-white;
	}

	.country-page {
		@apply mt-5 flex justify-between gap-5 2card:flex-col 1card:max-w-[340px] 1card:items-center 1card:justify-center;
	}

	.country-page-flag {
		@apply aspect-[3/2] h-96 w-[calc(3/2*24rem)] overflow-hidden rounded-xl 3card:h-80 3card:w-[calc(3/2*20rem)] 2card:h-72 2card:w-[calc(3/2*18rem)] 1card:h-56 1card:w-[calc(3/2*14rem)];
	}

	.country-page-flag img {
		width: 100%;
		height: 100%;
	}

	.country-page-container {
		@apply flex max-w-[42rem] flex-col gap-3 3card:max-w-[28rem] 2card:max-w-96;
	}

	.country-page-container h1 {
		@apply standard-text text-3xl font-semibold;
	}

	.country-page-context-container {
		@apply flex justify-between gap-6 1card:flex-col 1card:gap-0;
	}

	.border-country-container {
		@apply mt-4 flex flex-wrap items-center gap-2;
	}

	.border-country-container span {
		@apply standard-text mr-5;
	}

	.border-country {
		@apply inline-block rounded-md bg-white px-5 py-1 text-dark-blue dark:bg-dark-blue dark:text-to-white;
	}

	.border-country:hover {
		@apply bg-dark-blue bg-opacity-15 dark:bg-to-white dark:bg-opacity-30;
	}
	/* End of CountryPage */
}
