:root {
	--darkblue: #2b3844;
	--darkerblue: #202c36;
	--white: #f2f2f2;
}

* {
	box-sizing: border-box;
	color: var(--white);
	font-family: 'Open Sans', sans-serif;
}

body {
	margin: 0;
	min-width: 320px;
	min-height: 100vh;
	background-color: var(--darkerblue);
}

header {
	height: 100px;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--darkblue);
	height: 100px;
	position: fixed;
	top: 0;
	width: 100%;
}

.homepage {
	text-decoration: none;
	margin-left: 25px;
	font-weight: 600;
}

.navbar p {
	margin: 0;
}

.nav-links {
	display: flex;
	gap: 16px;
	justify-content: end;
	align-items: center;
	max-width: 1200px;
	height: 30px;
	margin: auto 0;
	margin-right: 25px;
}

.nav-link {
	text-decoration: none;
	padding: 6px;
	border-radius: 4px;
	background: var(--darkblue);
	color: var(--white);
}

.nav-link.active {
	background: var(--white);
	color: var(--darkblue);
}

.logo {
	width: 100px;
	object-fit: contain;
}

main {
	max-width: 1440px;
	margin: 40px auto;
}

.home-page {
	padding-bottom: 70px;
}

.country-search-container {
	display: flex;
	justify-content: space-between;
	margin: 0 auto 20px;
	max-width: 1260px;
}

.searchbar {
	height: 50px;
	width: 470px;
	border-radius: 10px;
	background-color: var(--darkblue);
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 30px;
	border: none;
}

.filterdropdown {
	height: 50px;
	width: 200px;
	border-radius: 10px;
	background-color: var(--darkblue);
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 30px;
	position: relative;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: var(--darkblue);
	width: 200px;
	z-index: 1;
	top: 60px;
	left: 0;
	border-radius: 10px;
	border: 1px solid hsla(0, 0%, 100%, 0.075);
}

.dropdown-content a {
	display: block;
	text-decoration: none;
	padding: 15px 30px;
}

.dropdown-content a:hover {
	background-color: var(--darkerblue);
}

.dropdown-content a:first-child:hover {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.dropdown-content a:last-child:hover {
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.filterdropdown:hover .dropdown-content {
	display: block;
}

.countries-container {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	justify-content: center;
}

.country-card-loading {
	width: 300px;
	height: 310px;
	background-color: var(--darkblue);
	border-radius: 10px;
}

.country-card {
	max-width: 300px;
	background-color: var(--darkblue);
	border-radius: 10px;
	overflow: hidden;
}

.flag {
	height: 200px;
}

.flag img {
	height: 100%;
	min-height: 200px;
	width: 100%;
	min-width: 300px;
}

.country-info {
	padding: 15px 0 15px 25px;
}

.country-name {
	font-weight: 600;
	margin-bottom: 5px;
}

.country-population,
.country-region,
.country-capital {
	padding: 5px 0;
}

.population-title,
.region-title,
.capital-title {
	font-weight: 600;
}

@media screen and (max-width: 1259px) {
	.country-search-container {
		max-width: 940px;
	}
}

@media screen and (max-width: 939px) {
	.country-search-container {
		max-width: 620px;
	}
	.searchbar {
		width: 250px;
	}
}

@media screen and (max-width: 659px) {
	.logo {
		display: none;
	}

	.nav-link {
		display: none;
	}

	main {
		max-width: 375px;
	}

	.country-search-container {
		flex-direction: column;
		gap: 25px;
	}

	.searchbar {
		height: 70px;
		width: 350px;
		margin: 0 auto;
	}

	.filterdropdown {
		height: 70px;
		margin-left: 12.5px;
		margin-right: auto;
	}

	.dropdown-content {
		top: 75px;
	}

	.country-card-loading {
		height: 353px;
	}
}
