:root {
	--darkblue: #2b3844;
	--darkerblue: #202c36;
	--white: #f2f2f2;
}

* {
	box-sizing: border-box;
	color: var(--white);
	font-family: 'Open Sans', sans-serif;
}

body {
	margin: 0;
	min-width: 320px;
	min-height: 100vh;
	padding: 20px;
	background-color: var(--darkerblue);
}

header {
	max-width: 1200px;
	margin: 40px auto;
}

.navbar {
	display: flex;
	justify-content: space-between;
}

.nav-links {
	display: flex;
	gap: 16px;
	justify-content: end;
	max-width: 1200px;
}

.nav-link {
	text-decoration: none;
	padding: 6px;
	border-radius: 4px;
	background: var(--darkblue);
	color: var(--white);
}

.nav-link.active {
	background: var(--white);
	color: var(--darkblue);
}

.logo {
	width: 100px;
	object-fit: contain;
}

main {
	max-width: 1200px;
	margin: 40px auto;
}
